{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "no-unused-vars": ["error", { "args": "none" }]
  }
}
